@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
$font-1: 'Noto Sans TC', sans-serif;


//light mode
$color-1: #fffff3;
$color-2: #b57cc4;
//$color-3: ;

//dark mode
$color-4: #282c34;
$color-5: #761690;
//$color-6: ;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: $font-1;
    background-color: $color-1;
    
}

a{
    text-decoration: none;
}

