@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
$font-1: 'Noto Sans TC', sans-serif;



$color-1: #fffff3;
$color-2: #e3e3e3;
$color-3: #282c34;


$color-4: #1d2025;
$color-5: #21B6f7;
$color-6: #ba131bce;
$color-7: #464950d0;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: $font-1;
    background-color: $color-1; 
}

.lightMode{
    font-family: $font-1;
    background-color: $color-1; 
}

.darkMode{
    background-color: $color-4;
}


a{
    text-decoration: none;
}

