.topBar{
    max-width: 1280px;
    margin: auto;
    padding-bottom: 20px;
    height: 180px;
    

    .navBar{

        display: flex;
        justify-content: space-between;


        .mrnLogo{
            margin: auto;
            width: 180px;
            height: 180px;
            cursor: pointer;
        }
        
        .mrnLogo:hover{
            transform: scale(1.1);
        }

        .anchor{
            margin: auto;
            margin-top: 70px;
            padding: 5px 15px 5px 15px;
            font-weight: bold;
            font-size: 1.5em;
            text-decoration: none;
            color: $color-5;
            cursor: pointer;
        }

        .anchor:hover{
            transform: scale(1.1);
            border-bottom: 3px solid $color-5;
            padding-bottom: 15px;
        }
    }
}

@media only screen and (max-width : 624px)
{
    .topBar{
        .navBar{
            .anchor{
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width : 512px)
{
    .topBar{
        height: 300px;
        .navBar{
            flex-direction: column;
            .anchor{
                margin-top: 0;
                font-size: 1em;
            }
        }
    }
}

