.projectSection{
    margin-top: 100px;
    border-top: 3px solid $color-2;

    .projectTitle{
        margin: auto;
        margin-top: 100px;
        padding-bottom: 10px;
        width: 225px;
        text-align: center;
        font-size: 2.5em;
        color: $color-4;
        border-bottom: 4px solid $color-4;
    }

    .projectPreview{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        height: 100%;

        .cardsOden{
            margin: 20px;
            width: 400px;
            height: 250px;
            background-color: $color-2;
            background-image: linear-gradient(rgba(224, 161, 88, 0.8), rgba(109, 25, 25, 0.8)), url('../../assets/Kozuki.png');
            background-size: cover;
            object-fit:contain;
            border-radius: 15px;

            .cardsLogo{
                display: block;
                margin: auto;
                padding: 10px;
                margin-top: 75px;
                width: 250px;
                height: 100px;
                background-color: $color-7;
                border-radius: 15px;
            }
        }

        .cardsRR{
            margin: 20px;
            width: 400px;
            height: 250px;
            background-color: $color-2;
            background-image: linear-gradient(rgba(71, 75, 128, 0.8), rgba(131, 39, 123, 0.8)), url('../../assets/HotelWeeb.jpg');
            background-size: cover;
            border-radius: 15px;

            .cardsLogo{
                display: block;
                padding: 10px;
                margin: auto;
                margin-top: 75px;
                width: 250px;
                height: 100px;
                background-color: #333b4ed0;
                border-radius: 15px;
            }
        }

        .cardsReservia{
            margin: 20px;
            width: 400px;
            height: 250px;
            background-color: $color-2;
            background-image: linear-gradient(rgba(71, 75, 128, 0.8), rgba(29, 117, 73, 0.8)), url('../../assets/HotelSouSou.jpg');
            background-size: cover;
            border-radius: 15px;

            .cardsLogo{
                display: block;
                margin: auto;
                padding: 10px;
                margin-top: 75px;
                width: 250px;
                height: 100px;
                background-color: #333b4ed0;
                border-radius: 15px;
            }
        }
    }
}
