.scrollTop{
    display: block;
    text-align: center;
    margin: 35px 150px 0 150px;
    font-size: 3em;
    color: $color-5;
    background-color: $color-2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.scrollTop:hover{
    background-color: darkgray;
    opacity: 0.5;
}

