.darkMode{
    footer{
        background-color: $color-3;
        .footerContainer{
            .footerTitle{
                color: $color-2;
            }
            .contact{
                .contactIcon{
                    color: $color-6;
                }
            }
            .thanksTo{
                color: $color-6;
            }
        }
    }
}