.lightMode{
    .cvSection{
        border-top: 3px solid $color-2;
        .cvTitle{
            color: $color-3;
            border-bottom: 4px solid $color-3;
        }
    
        .cvContent{
            .cvAside{
                background-color: $color-5;              
                .cvInfo{
                    i{
                        color: $color-2;
                    }
                }
                
                .softSkills{
                    border-top: 2px solid $color-2;      

                    .skills{
                        color: $color-2;
                    }
                    
                    span{
                        color: $color-2;
                    }
                }
                
                .centerOfInterest{
                    border-top: 2px solid $color-2;

                    .interest{
                        color: $color-2;
                    }
                }
            }
    
            .cvCareer{
                background-color: $color-2;        
                .CV{
                    .bigTitle{
                        color: $color-5;
                    }

                    .cvIntro{
                        color: $color-5;
                    }

                    .hardSkills{
                        color: $color-5;
                    }

                    .smallTitles{
                        color: $color-3;
                    }

                    .blueTag{
                        color: $color-5;
                    }
                }
                .cvText{
                    color: $color-3;
                }
            }
        }
    }
}